{
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": false,
  "quoteProps": "as-needed",
  "trailingComma": "none",
  "semi": true,
  "bracketSpacing": false,
  "bracketSameLine": true,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "htmlWhitespaceSensitivity": "strict",
  "svelteSortOrder": "options-scripts-styles-markup",
  "svelteStrictMode": false,
  "svelteAllowShorthand": true,
  "svelteIndentScriptAndStyle": true
}
