{
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": false,
  "quoteProps": "as-needed",
  "trailingComma": "none",
  "semi": true,
  "bracketSpacing": false,
  "arrowParens": "avoid",
  "endOfLine": "lf"
}
