body {
    margin: 0;
    font-family: sans-serif;
}

.content {
    --content-width: 1000px;
    margin: 10em max(1em, calc((100vw - var(--content-width)) / 2));
    max-width: var(--content-width);
}

.page-title {
    text-align: center;
}

.card {
    padding: 16px;
    border-radius: 16px;
    box-shadow: 4px 4px 8px #ddd;
}
.card > :first-child {
    margin-top: 0;
}
