/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

.center-everywhere {
    display: flex;
    align-items: center;
    justify-content: center;
}